body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color: #ddd;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    transition: 0.3s;
}

.search-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .search-container input[type=text] {
        width: 100%;
        margin-right: 0;
    }
}

.login-container {
    margin-top: 30px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.login-container form label,
.login-container form input,
.login-container form button {
    display: block;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    margin-left: 20px;
}

.login-container form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.login-container form button {
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

/* Change the background and text color of the login button on hover */
.login-container form button:hover {
    background-color: #45a049;
}




